<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>
<body>
    <h1>Layout</h1>
        <p>Web sitesi genellikle header,nev,content,footer ortak alanları tek bir yerde tasarladığımız şeydir</p>
        <pre>
            <strong>header:</strong> Web sitesini ne üstnde yer alan başlık, genellikle logo veya website adı içerir
            <strong>Nav:</strong> Gezintiçubuğu ziyaretçilerin ewb sitenizde gezinmesine yardımcı olacak bağlantıların bir listesini içerir
            <strong>Content:</strong> Düzen, genellikle hedef kullanıcılara bağlıdır.
            <strong>footer:</strong> Alt bilgi safamızın en altında yer alır. Genellikle telif hakkı bilgileri içeren kısımdır.
        </pre>
    <h1>Respinsive Web Design</h1>
        <pre>
           Duyarlı Web tasarım, çalıştırıldığı cihaza - görüntülenme boyutune göre şekilde ve görüntüsü bütün cihazlarda uyumlu şekilde çalışmasını sağlayan yapıdır. 
        </pre>    
     
</body>
</html>